/* @tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

.collapse {
    visibility: visible !important;
} */


.input-fill {
    background-color: #fffde7;
    /* amarillo muy suave */
    border: 1px solid #e0dca3;
    border-radius: 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

/* Mantener color al hacer focus */
.input-fill:focus {
    background-color: #fffde7;
    border-color: #c9b458;
    box-shadow: 0 0 0 0.15rem rgba(201, 180, 88, 0.25);
    outline: none;
}

/* Hover sutil */
.input-fill:hover {
    background-color: #fffbe0;
}


.text-purple {
    color: #7c3aed;
}



.swal2-container {
    z-index: 99999992 !important;
}

#toast-container {
    z-index: 99999992 !important;
}
