/* Ventas convertidas */
.row-sale-converted {
    background: linear-gradient(90deg,
            rgba(111, 66, 193, 0.35),
            rgba(111, 66, 193, 0.10)) !important;

    border-left: 8px solid #6f42c1;
    box-shadow: inset 6px 0 0 rgba(111, 66, 193, 0.15);

    transition:
        background 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.15s ease;
}

/* Hover con presencia */
.row-sale-converted:hover {
    background: linear-gradient(90deg,
            rgba(111, 66, 193, 0.45),
            rgba(111, 66, 193, 0.18)) !important;

    box-shadow:
        inset 6px 0 0 rgba(111, 66, 193, 0.25),
        0 2px 10px rgba(111, 66, 193, 0.15);
}

/* Texto ligeramente más fuerte */
.row-sale-converted td {
    vertical-align: middle;
    font-weight: 500;
}


/*======== VENTAS ANULADAS =======*/
/* Ventas anuladas */
.row-sale-cancelled {
    background: linear-gradient(90deg,
            rgba(255, 193, 7, 0.35),
            rgba(255, 193, 7, 0.10)) !important;

    border-left: 8px solid #ffc107;
    box-shadow: inset 6px 0 0 rgba(255, 193, 7, 0.18);

    transition:
        background 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.15s ease;
}

/* Hover con presencia */
.row-sale-cancelled:hover {
    background: linear-gradient(90deg,
            rgba(255, 193, 7, 0.45),
            rgba(255, 193, 7, 0.18)) !important;

    box-shadow:
        inset 6px 0 0 rgba(255, 193, 7, 0.28),
        0 2px 10px rgba(255, 193, 7, 0.18);
}

/* Texto ligeramente más fuerte */
.row-sale-cancelled td {
    vertical-align: middle;
    font-weight: 500;
}
